@model Meal;
@{
	ViewData["Title"] = "Edit";
}

<h1 class="text-center">EDIT</h1>
<td>
	<button type="button" class="btn btn-outline-primary"><a asp-action="Index">Back</a></button>
</td>
<div class="row">
	<div class="col-md-4">
		<form method="post" asp-controller="Meal" asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="MealId" />
			<div class="form-group">
				<label asp-for="Name " class="control-label"></label>
				<input asp-for="Name " class="form-control" />
				<span asp-validation-for="Name " class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label"></label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" class="form-control" rows="4"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Image" class="control-label"></label>
				<input asp-for="Image" class="form-control" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>
				<div class="form-group">
					<label>Select Tags</label><br />
					@foreach (var tag in ViewBag.Tags)
					{
						<label>
							<input type="checkbox" name="selectedTags" value="@tag.TagId" 
								@(Model.Tags != null && Model.Tags.Any(t => t.TagId == tag.TagId) ? "checked" : "") />
							@tag.Name
						</label>
					}
				</div>
			<br/>
			<button type="submit" class="btn btn-primary">Save Changes</button>
		</form>
	</div>
</div>
